
<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="style.css">    
</head>    
    
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
        <form class="register-form" method="POST" action="/" onsubmit="return validation()">    
        {% csrf_token %}
            {% if messages %}
            {% for msg in messages %}
            <p class="text-danger text-center" style="padding-right: 15%;">{{msg}}</p>
            {% endfor %}
            {% endif %}
            <input type="hidden" name="id" value="" id = "id"/>
        <div class="col-sm-10 form-group">
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"autocomplete="off"/>

        </div> 

        <div class="col-sm-10 form-group">
            <span><i class="fa fa-lock" aria-hidden="true" ></i></span>
            <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" autocomplete="off"/>

        </div>
        <div class=" col-sm-10 form-button" style="color: navy;">
            <input type="submit" class="btn" name="signup" id="signup" class="form-submit" value="Log In" style="background-color: navy; color: white; font-family: 'Times New Roman', Times, serif;"/>
            </div>

        <div class="col-sm-10 text-center " style="padding-top: 3%;">
            <a href="/sign-up" style="color: navy;"><u>Create an Account</u></a>
                <code>|</code>
        </div>
      
   
        
    </div>    
</body>    
</html>    
        </div>
        
    </body>    
    </html>     
